@charset "utf-8";

/*--------------------通用样式-----------------------*/
body {
    font-family: YouYuan;
    margin: 0px;
    padding: 0px;
}

a, a:hover {
    text-decoration: none;
}

a:hover {
    color: red;
}

a:focus {
    color: red;
}

.lf {
    float: left;
}

.rt {
    float: right;
}

.clear {
    clear: both;
}
/*-----------------导航栏-----------------*/
.back_img{
    width: 100%;
}
.reg_log{
    color: white;
    font-size: 2vw;
    font-weight: bold;
    position: absolute;
    top: 2vw;
    right: 2vw;
}
#log_but{
    cursor: pointer;
}
#reg_but{
    cursor: pointer;
}

header div div a{
    color: white;
}
.is_login{
    color: white;
    font-size: 2vw;
    font-weight: bold;
    position: absolute;
    top: 2vw;
    right: 2vw;
}
#user{
    cursor: pointer;
}
#exit_but{
    cursor: pointer;
    color: indianred;
}
