@charset "utf-8";

/*--------------------通用样式-----------------------*/
body {
    font-family: YouYuan;
    margin: 0px;
    padding: 0px;
}

a, a:hover {
    text-decoration: none;
}

a:hover {
    color: red;
}

a:focus {
    color: red;
}

.lf {
    float: left;
}

.rt {
    float: right;
}

.clear {
    clear: both;
}
/*-----------------导航栏-----------------*/
.back_img{
    width: 100%;
}
.reg_log{
    color: white;
    font-size: 2vw;
    font-weight: bold;
    position: absolute;
    top: 2vw;
    right: 2vw;
}
header div div a{
    color: white;
}
/*-----------------网页主体---------------*/
#main {
    text-align: center;
}
.main_out{
    width: 80%;
    background-color: lightcyan;
    min-height: 500px;
    margin: -4vw auto 0;
    position: relative;
}
#main div p{
    font-size: 1.5vw;
    font-weight: bold;
    color: indianred;
}
#search div{
    width: 15%;
}
#search div input{
    text-align: center;
    margin: 0.3vw auto;
    padding: 0.4vw 0.2vw;
    border-radius: 5px;
}
#code{
    width: 95%;
    font-size: 1.5vw;
    color: black;
}
#sub{
    width: 100%;
    font-size: 1.2vw;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
}
#sub:hover{
    color: white;
    background-color: indianred;
}

#all_k{
    width: 50%;
    min-height: 500px;
    background-color: lightblue;
    margin: 0 4vw;
}
#all_k p{
    margin: 0;
}