@charset "utf-8";
/*-----------------网页主体---------------*/
#main {
    text-align: center;
}

.back_all{
    width: 80%;
    margin:0 auto;
}
.main_out{
    width: 100%;
    background-color: lightcyan;
    /*min-height: 500px;*/
    margin: -4vw auto 0;
    position: relative;
}
#main div p{
    font-size: 1.2vw;
    font-weight: bold;
    color: indianred;
}
#search div{
    width: 15%;
}
#search div input{
    text-align: center;
    margin: 0.3vw auto;
    padding: 0.4vw 0.2vw;
    border-radius: 5px;
}
#code{
    width: 95%;
    font-size: 1.5vw;
    color: indianred;
    opacity: 0.7;
}
#submit{
    width: 100%;
    font-size: 1.2vw;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    padding: 0.3vw;
    border-radius: 5px;
    color: indianred;
}
#submit:hover{
    color: white;
    background-color: indianred;
}

#k_line{
    width: 60%;
    min-height: 500px;
    margin: 0 1vw 2vw 2vw;
}
#k_line p{
    margin: 0;
}
#re_k{
    width: 20%;
    min-height: 500px;
    background-color: rgb(235,238,240);
    margin: 0 0 2vw 0;
    opacity: 0.8;
}
#blin{
    width: 60%;
    min-height: 500px;
    margin: 0 2vw 2vw 2vw;
}
#blin p{
    margin: 0;
}
#re_blin{
    width: 20%;
    min-height: 500px;
    background-color: rgb(235,238,240);
    margin: 0 0 2vw 0;
    opacity: 0.8;
}

.hide{
    display: none;
}

.title{
    color: black;
    font-size: 1.4vw;
    float: left;
    width: 60%;
    text-align: left;
    margin: 0.6vw 0;
}
.value{
    color: red;
    font-size: 1.2vw;
    float: left;
    width: 40%;
    text-align: right;
    margin: 0.6vw 0;
}
.stock_info{
    margin: 1.4vw;

}
.analyze_title{
    font-size: 1.4vw;
    margin: 1.4vw;
    color: indianred;
    font-weight: bold;
}
.analyze_text{
    font-size: 1.2vw;
    color: indianred;
    margin: 1.4vw;
    text-align: left;
    font-weight: bold;
}
.introduce_title{
    font-size: 1.4vw;
    color: black;
    margin-bottom: 0;
}
.introduce_text{
    color: black;
    font-size: 1vw;
    line-height: 25px;
}
/*---------------底部--------------*/
.bottom{
    width: 100%;
    text-align: center;
    opacity: 0.8;
}
.bottom_back{
    width: 100%;
    float: left;
    background-color: dodgerblue;
}
.tip{
    width: 100%;
    margin: 1.4vw auto 0;
    font-size: 1vw;
    font-weight: bolder;
}
.forward{
    width: 100%;
    margin: 1.4vw auto 0;
    font-size: 1vw;
    font-weight: bolder;
}
.friend{
    width: 100%;
    margin: 1.4vw auto 0;
    font-size: 1.4vw;
    font-weight: bolder;
    color: black;
}
.friend a{
    color: indianred;
}