@charset "utf-8";
/*-----------------网页主体---------------*/
#main {
    text-align: center;
}
.main_out{
    width: 80%;
    background-color: lightcyan;
    min-height: 500px;
    margin: -4vw auto 0;
    position: relative;
}
#main div p{
    font-size: 1.5vw;
    font-weight: bold;
    color: indianred;
}
#search div{
    width: 15%;
}
#search div input{
    text-align: center;
    margin: 0.3vw auto;
    padding: 0.4vw 0.2vw;
    border-radius: 5px;
}
#code{
    width: 95%;
    font-size: 1.5vw;
    color: black;
}
#sub{
    width: 100%;
    font-size: 1.2vw;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
}
#sub:hover{
    color: white;
    background-color: indianred;
}

#all_k{
    width: 50%;
    min-height: 500px;
    background-color: lightblue;
    margin: 0 1vw 2vw 2vw;
}
#all_k p{
    margin: 0;
}
#re_k{
    width: 30%;
    min-height: 500px;
    background-color: lightblue;
    margin: 0 0 2vw 0;
}
#blin{
    width: 50%;
    min-height: 500px;
    background-color: lightblue;
    margin: 0 2vw 2vw 2vw;
}
#blin p{
    margin: 0;
}
#re_blin{
    width: 30%;
    min-height: 500px;
    background-color: lightblue;
    margin: 0 0 2vw 0;
}