<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../static/css/all.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/regist.css">
</head>
<body>
<header>
    <div>
        <img class="back_img" src="../static/imgs/1.jpeg" alt="背景图">
        <div class="rt reg_log">
            <button id="log_but" type="button">登录</button>
            <button id="reg_but" type="button">注册</button>
        </div>
        <div class="rt is_login hide">
            <button id="user" type="button"></button>
            <button id="exit_but" type="button">注销</button>
        </div>

    </div>
</header>
<div class="reg_log_html">
    <div class="login hide">
        <form action="" method="post">
            <p>用户名密码登录</p>
            <input id="log_name" type="text" placeholder="手机号/用户名">
            <input id="log_pwd" type="password" placeholder="密码">
            <input type="button" value="登录" class="login_button" style="width: 85%;font-size: 1.5vw">
        </form>
    </div>
    <div class="register hide">
        <div>
            <p>欢迎注册</p>
        </div>
        <form action="" method="post">
            <input id="reg_name" type="text" placeholder="3-12字符">
            <span>用户名</span>
            <input id="reg_pwd" type="password" placeholder="6-18个字符">
            <span>输入密码</span>
            <input id="reg_re_pwd" type="password" placeholder="6-18个字符">
            <span>确认密码</span>
            <input id="reg_tel" type="text" placeholder="11位数字">
            <span>手机号</span>
            <input id="button" type="button" value="注册" class="regist_button" style="width: 85%;font-size: 1.5vw">
        </form>
    </div>
</div>
<div id="main">
    <div class="back_all">
        {#  预测结果页面  #}
        <div class="main_out lf">
            <p>温馨提示:本网站预测结果只做参考,不作为投资依据(投资有风险,入市需谨慎)</p>
            <p>
                Tips: investment is risky, entering the market needs to be cautious
            </p>
            <form id="search" method="post">
                <div class="lf">
                    <input id="code" type="text" placeholder="请输入股票代码" name="stock_code">
                    <button id="submit" type="button">点击提交</button>
                </div>
            </form>
            <div id="k_line" class="lf">
                <p>整体走势</p>

            </div>
            <div id="re_k" class="rt">

            </div>
            <div id="re_blin" class="rt">

            </div>
            <div id="blin" class="rt">
                <p>布林带分析</p>

            </div>
        </div>
    </div>
</div>
<footer>
    <div class="bottom">
        <div class="bottom_back">
            <div class="tip lf">
                提示:本网站分析结果只作参考,不作为投资依据
            </div>
            <div class="forward lf">
                <p>
                     尽请期待:本网站后续将继续完善其他技术指标,以及增加预测功能
                </p>
            </div>
            <div class="friend lf">
                <span>友情链接:</span>
                <a href="www.shyqcspa.cn">上海女子spa</a>
                <a href="www.cdyqcspa.cn">成都女子spa</a>
                <a href="www.bjyqcspa.cn">北京女子spa</a>
                <a href="www.gzyqcspa.cn">广州女子spa</a>
            </div>
        </div>
    </div>
</footer>
    <script type="text/javascript" src="../static/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../static/js/Ply.min.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
    <script type="text/javascript" src="../static/js/analyze.js"></script>

</body>
</html>