<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="../static/css/all.css">
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
<header>
    <div>
        <img class="back_img" src="../static/imgs/1.jpeg" alt="背景图">
        <div class="rt reg_log">
            <a href="./login.html">登录</a>
            <span>/</span>
            <a href="./regist.html">注册</a>
        </div>
    </div>
</header>
<div id="main">
    <div id="info">
        <form action="" method="post">
            <p>用户名密码登录</p>
            <input type="text" placeholder="手机号/用户名">
            <input type="password" placeholder="密码">
            <input type="button" value="登录" class="login_button" style="width: 85%;font-size: 1.5vw">
        </form>
    </div>
</div>
</body>
</html>